In [1]:
## Homework

1. Write a for-loop that prints out the numbers from 100 to 110.

2. Write a while- loop that prints out the numbers from 100 to 110.  

3. Write a loop that prints out the squares of the numbers from 10-15. This can be a for or a while loop.

4. Write a loop that iterates over the list ["Scooby", "Shaggy", "Velma", "Daphne", "Fred"] and for each character prints the statement "XXX is a character in that most glorious of cartoons, Scooby Doo". 

5. Write a function that meets the following criteria:

<pre>
1. The function must be named "fact_or_sum"   
2. The function must take in one input, which must be an integer. If the user inputs a string, the function should return an error message.
3. If the input integer is 0, the function returns the number 0.  
4. If the input integer is an odd number, the function returns the factorial of the number. 
4a. A factorial is computed as the product of a number and each integer below that number, until 1 (e.g. n*(n-1)*(n-2)...*1)
5. The factorial MUST be computed with a for loop. 
6. If the input integer is an even number, the function returns the sum of that number and all numbers below it, until 1 (e.g. n+(n-1)+(n-2)...+1).
6a. The sum must be computed with a while loop.
</pre>

SyntaxError: invalid syntax (<ipython-input-1-f48fb20b742c>, line 3)

In [2]:
#1 
for number in range(100, 111):
    print(number)

100
101
102
103
104
105
106
107
108
109
110

In [3]:
#2 
number = 100;
while number <111:
    print(number)
    number=number +1

100
101
102
103
104
105
106
107
108
109
110

In [4]:
#3. Write a loop that prints out the squares of the numbers from 10-15. This can be a for or a while loop.
for number in (range(10,16)):
    print(number**2)

100
121
144
169
196
225

In [5]:
#Write a loop that iterates over the list ["Scooby", "Shaggy", "Velma", "Daphne", "Fred"] and for each character prints the statement "XXX is a character in that most glorious of cartoons, Scooby Doo".
name=["scooby", "Shaggy", "Velma", "Daphne", "Fred"]
for character in name:
    print(str(character) + " is a character in that most glorious of cartoons, Scooby Doo")

scooby is a character in that most glorious of cartoons, Scooby Doo
Shaggy is a character in that most glorious of cartoons, Scooby Doo
Velma is a character in that most glorious of cartoons, Scooby Doo
Daphne is a character in that most glorious of cartoons, Scooby Doo
Fred is a character in that most glorious of cartoons, Scooby Doo

In [18]:
#fact_or_sum
def fact_or_sum(number):
    if (type(number) != int):
        print("ERROR!")
    elif number == 0:
        return 0
    elif number % 2 == 1:
        answer=1
        for n in range(number,1,-1):
            answer*= n
        return answer        
    else:
        answer=0
        while number >= 1:
            answer += number
            number -=1
        return answer
    
print(fact_or_sum(0))
#print(fact_or_sum(1000))
#fact_or_sum("jung")

0